.experience {
  padding: 20px;
}

.experience h2 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #333;
}

.experience p,
.experience ul,
.experience div {
  margin-bottom: 10px;
}

.experience-container {
  display: flex;
  gap: 20px;
}

.experience-container:not(:first-child) {
  padding-top: 10px;
}

.experience-container:not(:last-child) {
  border-bottom: #eee 1px solid;
}

.experience-item {
  flex: 1;
}

.experience-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.experience-item p {
  font-size: 14px;
  margin: 1px 0;
  color: #666;
}

.experience-detail:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: #eee 1px solid;
}

.experience-detail:not(:first-child) {
  padding-top: 15px;
}

.experience-details {
  flex: 2;
}

.experience-details h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.experience-details h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.experience-details p {
  margin: 10px 0;
  color: #666;
}

.experience-details ul {
  margin: 10px 0;
  padding-left: 20px;
}

.experience-details ul li {
  list-style-type: disc;
  margin: 5px 0;
  color: #666;
}
