.projects {
  padding: 20px;
}

.projects h2 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #333;
}

.projects p,
.projects ul,
.projects div {
  margin-bottom: 10px;
}

.projects-container {
  display: flex;
  gap: 20px;
}

.projects-container:not(:first-child) {
  padding-top: 10px;
}

.projects-container:not(:last-child) {
  border-bottom: #eee 1px solid;
}

.projects-item {
  flex: 1;
}

.projects-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.projects-item p {
  font-size: 14px;
  margin: 5px 0;
  color: #666;
}

.projects-detail:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: #eee 1px solid;
}

.projects-detail:not(:first-child) {
  padding-top: 15px;
}

.projects-details {
  flex: 2;
}

.projects-details h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.projects-details h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.projects-details p {
  margin: 10px 0;
  color: #666;
}

.projects-details ul {
  margin: 10px 0;
  padding-left: 20px;
}

.projects-details ul li {
  list-style-type: disc;
  margin: 5px 0;
  color: #666;
}
